.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.header {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  max-width: 300px;
  margin: auto;
  padding: 20px;
  background: #6d5050;
  border-radius: 20px;
  text-align: center;
}

.display input {
  height: 35px;
  width: 90%;
  border: none;
  outline: none;
  border-radius: 4px;
  border-bottom: 2px solid #a7aaaa;
  padding: 7px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}
input:focus {
  border-bottom: 2px solid #2ecc71;
}

button {
  width: 60px;
  height: 60px;
  font-size: 24px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(to bottom, #333, #111);
  color: white;
  box-shadow: 0 4px #000;
  cursor: pointer;
  transition: all 0.2s;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
